# Part 1 â€‘ Exploratory data analysis

In [2]:
import pandas as pd

In [3]:
df_json=pd.read_json(r'C:\Users\mural\Desktop\Projects\Challenge project\ultimate_challenge\logins.json')

In [4]:
df_json.head()

           login_time
0 1970-01-01 20:13:18
1 1970-01-01 20:16:10
2 1970-01-01 20:16:37
3 1970-01-01 20:16:36
4 1970-01-01 20:26:21

In [5]:
df_json.tail()

               login_time
93137 1970-04-13 18:50:19
93138 1970-04-13 18:43:56
93139 1970-04-13 18:54:02
93140 1970-04-13 18:57:38
93141 1970-04-13 18:54:23

In [6]:
df_json.resample(rule='15T',on='login_time').count().head(10)

                     login_time
login_time
1970-01-01 20:00:00           2
1970-01-01 20:15:00           6
1970-01-01 20:30:00           9
1970-01-01 20:45:00           7
1970-01-01 21:00:00           1
1970-01-01 21:15:00           4
1970-01-01 21:30:00           0
1970-01-01 21:45:00           4
1970-01-01 22:00:00           9
1970-01-01 22:15:00           8

In [7]:
df_json.resample(rule='15T',on='login_time').count().describe()

        login_time
count  9788.000000
mean      9.515938
std       8.328818
min       0.000000
25%       3.000000
50%       7.000000
75%      13.000000
max      73.000000

In [8]:
df_json.resample(rule='D',on='login_time').count().describe()

        login_time
count   103.000000
mean    904.291262
std     347.167463
min     112.000000
25%     643.000000
50%     827.000000
75%    1141.000000
max    1889.000000

In [45]:
df=pd.Series()
df1=df_json.resample(rule='D',on='login_time').count()

<ipython-input-45-37e0266fe898>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df=pd.Series()

In [46]:
df1.head()

            login_time
login_time
1970-01-01         112
1970-01-02         681
1970-01-03         793
1970-01-04         788
1970-01-05         459

In [47]:
mask=df1['login_time']>1141

In [57]:
mask.count()

103

In [59]:
df_json_count=pd.read_json(r'C:\Users\mural\Desktop\Projects\Challenge project\ultimate_challenge\ultimate_data_challenge.json')

In [63]:
df_json_count.head()

,city,trips_in_first_30_days,signup_date,avg_rating_of_driver,avg_surge,last_trip_date,phone,surge_pct,ultimate_black_user,weekday_pct,avg_dist,avg_rating_by_driver
0,King's Landing,4,2014-01-25,4.7,1.10,2014-06-17,iPhone,15.4,True,46.2,3.67,5.0
1,Astapor,0,2014-01-29,5.0,1.00,2014-05-05,Android,0.0,False,50.0,8.26,5.0
2,Astapor,3,2014-01-06,4.3,1.00,2014-01-07,iPhone,0.0,False,100.0,0.77,5.0
3,King's Landing,9,2014-01-10,4.6,1.14,2014-06-29,iPhone,20.0,True,80.0,2.36,4.9
4,Winterfell,14,2014-01-27,4.4,1.19,2014-03-15,Android,11.8,False,82.4,3.13,4.9

In [61]:
df_json_count.city.value_counts()

Winterfell        23336
Astapor           16534
King's Landing    10130
Name: city, dtype: int64